# build artifacts
Sketch-Meaxure.sketchplugin
sketch-meaxure.sketchplugin.zip
# npm
node_modules
.npm
npm-debug.log

# mac
.DS_Store
._sketch-meaxure.sketchplugin

# WebStorm
.idea

# sketch
# sketch-assets

